.container1 {
    background-color: black;
    padding: 1rem; /* Adjust padding for better spacing on small screens */
}

.heading {
    font-size: 4vw;
    font-weight: 600;
    background-image: radial-gradient(circle, #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

.containerForCharacters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem; /* Adjust margin for better spacing on small screens */
}
.searchbar {
    padding: 1rem;
    display: flex;
    align-items: center;
}
.searchbar input {
    border-radius: 10px;
    color: wheat;
    border: 2px solid rgb(224, 67, 67);
    text-align: center;
    width: 100%;
    background-color: transparent;
    padding: 0.5rem; /* Adjust padding for better input styling */
}

.filters {
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow:0px 3px 25px -5px #ee4b2b;
    color: aliceblue;
}


.filterHeading {
    font-size: 2rem; /* Responsive font size */
    font-weight: 800;
}

.filterBtns {}

.filterbtnToClear{
    margin: 10px;
    padding: 0.3rem;
    background-color: #dd1515ca;
    border-radius: 10px;
}

.filterbtn {
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border: 1px solid slateblue;
    border-radius: 20px;
}
.filterbtnToClearAll {
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border: 1px solid rgb(205, 90, 90);
    border-radius: 20px;
}

.filterbtn:hover {
    background-color: #553c9a;
    transition: background-color 500ms;
}
.filterbtnToClearAll:hover {
    background-color: #9a3c3c;
    transition: background-color 500ms;
}

.category {
    margin: 0.2rem;
    border-radius: 10px;
    border-bottom: 1px solid red;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdowncontent {
    z-index: 9999;
    display: none;
    position: absolute;
    width: fit-content;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(104, 24, 37);
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    max-height: 253px;
    overflow-y: scroll;
}
.dropdowncontent::-webkit-scrollbar{
    width:0;
}


.dropdown:hover .dropdowncontent {
    display: block;
}

.dropdowncontent div {
    display: grid;
    grid-template-columns: auto auto auto;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
}

.dropdowncontent div div:hover {
    color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid slateblue;
}

/* Add media queries for different screen sizes */
@media screen and (max-width: 768px) {
    .containerForCharacters {
        justify-content: center;
    }
    
    .filterHeading {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}

@media screen and (max-width: 550px) {
    .filterBtns {
        width: 100%; /* Make buttons full width on smaller screens */
    }
    .dropdowncontent{
        width: 100%; /* Make buttons full width on smaller screens */
    }
    .dropdowncontent div {
        display: grid;
        grid-template-columns: auto;
        color: #ffffff;
        padding: 5px;
        text-decoration: none;
    }
    .dropdowncontent div div:hover {
        color: #FFFFFF;
        border-radius: 5px;
        border: 1px solid slateblue;
    }
}