.header {
    background-color: rgb(0, 0, 0);
    opacity: 100%;
    z-index: 999999999999;
    width: 100%;
    height: auto;
    position: fixed;
    padding-top: 5px;
    top: 0px;
    box-shadow:0px 3px 15px 10px #000000
}

.headingInNav {
    position: relative;
    display: inline;
    text-align: center;
    margin: auto;
    font-size: 3vw;
    font-weight: 600;
    background-image: radial-gradient(circle, #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

.nav {
    display: flex;
    margin: auto;
    height: 80px;
    border-bottom: 1px solid #000000
}

.nav div {
    margin: auto;
}

.active {
    background-color: brown;
}

.logo {
    margin: auto;
    padding: 0px;
    width: auto;
    float: left;
    border: 1px solid wheat;
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
}

.logo img {
    height: 55px;
}

.listitem {
    float: right;
    margin-right: 25px;
    margin-top: 17px;
    margin: auto;
}

.listitem li {
    float: left;
    padding: 13px 13px;
    font-size: 18px;
    border-radius: 3px;
    transition: all .4s ease-in-out;
}

.listitem li a {
    color: #EEE;
}

.listitem li:hover {
    background-color: brown;
}

.listitemInMob {
    display: none;
}

.icon {
    margin: auto;
    display: none;
}

.toggle {
    float: right;
    margin: 20px;
    color: #EEE;
    font-size: 30px;
    border: 1px solid #EEE;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
}


@media (max-width: 750px) {
    .nav {
        display: flex;
        margin: auto;
        height: 80px;
        border-bottom: 1px solid #000000
    }

    .nav div {
        margin: auto;
    }

    .headingInNav {
        position: relative;
        text-align: center;
        margin: auto;
        font-size: 5vw;
        font-weight: 600;
        background-image: radial-gradient(circle, #553c9a, #ee4b2b);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
    }


    .listitemInMob li {
        padding-left: 10px;
        font-size: 18px;
        border-radius: 3px;
        transition: all .4s ease-in-out;
    }

    .listitemInMob li:hover {
        background-color: brown;
    }

    .listitemInMob {
        display: block;

    }

    .listitemInMob:hover {
        display: block;

    }

    .icon {
        margin: 0px;
        display: block;
        width: 100%;
        height: auto;
        background-color: #111;
        border-bottom: 1px solid #444;
    }

    .listitem {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        top: 4px;
        background-color: #222;
        display: none;
    }

    .listitem li {
        text-align: center;
        display: block;
        border-bottom: 1px solid #333;
        float: none;
    }
}