@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  -webkit-text-size-adjust: none;
}

body {
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background-color: black;
  color: aliceblue;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid rgb(0, 0, 0);
  /* creates padding around scroll thumb */
}

@media (max-width: 750px) {
  body {
    width: 100%;
    color: rgb(var(--foreground-rgb));
    background-color: black;
    color: aliceblue;
    overflow-y: scroll;
  }

  body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    /* color of the tracking area */
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 0);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(0, 0, 0);
    /* creates padding around scroll thumb */
  }
}
