.containerForCharacters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
}
.container{
    margin-top: 15px;
}

.searchbar {
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    padding: 1.2rem;
    display: flex;
    align-items: center;
}

.imgOfChars {
    border-radius: 100%;
    width: 50px;
}

.searchbar input {
    border-radius: 10px;
    color: wheat;
    border: 2px solid rgb(224, 67, 67);
    text-align: center;
    width: 100%;
    background-color: transparent;
    padding: 0.5rem;
}


.HeadInSide {
    position: sticky;
}

.sidebar {
    position: fixed;
    top: 5rem;
    right: 0;
    width: 40%;
    height: 90%;
    background-color: #070707;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 999;
    overflow: scroll;
}

.sidebar::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.sidebar::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    /* color of the tracking area */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 0);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(0, 0, 0);
    /* creates padding around scroll thumb */
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    background-color: rgb(27, 33, 49);
    display: flex;
    margin-bottom: 10px;
}

.sidebar li div {
    padding: 5px;
    margin: auto 10px;
}

.sidebar button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #1e1e1f;
    /* Adjust button background color as needed */
    color: #dbcfcf;
    /* Adjust button text color as needed */
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.charBtn {
    padding:3px 15px;
    width:100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #ee4b2b;
}

.charBtn:hover{
    background-color: #ff330b;
    width: 100%;
    /* border: 2px solid wheat; */
}
.closeBtn{
    background-color: #ee4b2b;
}
.closeBtn:hover {
    background-color:#ff330b;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
    .sidebar {
        width: 80%;
        overflow-y: scroll;
    }
    .containerForCharacters {
        justify-content: center;
    }

    .filterHeading {
        font-size: 1.5rem;
    }
}







