.container {
    padding: 1rem; /* Add padding for better spacing on small screens */
    display: flex;
    overflow: hidden;
    width: 100%; /* Use a relative width for responsiveness */
    max-width: 600px; /* Set a maximum width for larger screens */
    background: rgb(27, 33, 49);
    margin:auto; /* Center the container and adjust margin */
    height: auto; /* Allow the height to adjust based on content */
    border: 3px solid rgb(31, 21, 21);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-sizing: border-box; /* Include padding and border in the total width */

    flex: 3 1 0%;
    position: relative;
    padding: 0.75rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 550px) {
    .container {
        flex-direction: column; /* Stack items in a column on small screens */
    }
}

.section {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameSec {
    font-size: 20px;
    font-weight: 900;
}
.loca {
    font-size: 13px;
    color: rgb(158, 158, 158);
}
.detailBtn {
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    background-color: #dd1515ca;
    margin-top: 10px; /* Add some spacing between the button and other content */
}
@media screen and (max-width: 550px) {
    .detailBtn {
        width: 100%; /* Make the button full width on small screens */
    }
}
