.container {
    margin: auto;
    padding: auto;
    display: flex;
    padding: 20px;
    margin: 5rem 30px;
    margin-bottom: 20px;
    background-color: rgb(27, 33, 49);
    border: 3px solid rgb(31, 21, 21);
}
.loadingPage{
    margin-top: 5rem;
}

.characterinfo {
    margin: 10px auto;
    padding: 10px;
    height: fit-content;
    box-shadow:0px 3px 25px -5px #000000;
    align-items: center;
}

.characterLocainfo {
    height: fit-content;
    margin: 10px auto;
    padding: 10px 0px;
    padding-left: 35px;
    text-align: left;
    align-items: center;
}

.characterEpinfo {
    height: fit-content;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    align-items: center;
}

.heading{
    font-size: 25px;
    font-weight: 900;
}

.characterinfo img {
    margin: 5px;
    max-width: 100%;
    height: auto;
}

.label {
    font-size: 16px;
    margin-bottom: 10px;
}

.episodes {
    margin-top: 20px;
    height: 450px;
    overflow-y: scroll;
}

.line{
    border-radius: 100%;
    margin-top: 20px;
    border:0.5px solid rgb(255, 255, 255)
}
@media screen and (max-width: 768px) {
    .container {
        margin: auto;
        padding: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 5rem 30px;
        margin-bottom: 20px;
        background-color: rgb(27, 33, 49);
        border: 3px solid rgb(31, 21, 21);
    }
    .episodes {
        margin-top: 20px;
        height: 500px;
        overflow-y: scroll;
    }
}